@import "util/variables";

#fastmail-calendar-overview-wrapper {
  position: absolute;
  z-index: 1;
  overflow: auto;
  width: 100%;
  padding: 0 10px;
  color: $gray-4;

  &.dark {
    @include theme(
      $day-background: $gray-1,
      $day-color: $gray-4,
      $event-time-color: $gray-3,
      $event-title-color: $gray-5,
    );
  }

  &.light {
    @include theme(
      $day-background: #ddd,
      $day-color: #1f1f1f,
      $event-time-color: #777,
      $event-title-color: #1f1f1f,
    );
  }

  &,
  * {
    box-sizing: border-box;
  }

  // each day
  li {
    width: 100%;
    margin-bottom: 15px;

    // day title
    h3 {
      display: block;
      width: 100%;
      padding: 3px 5px;
      margin-bottom: 3px;
    }

    .event {
      position: relative;
      margin-top: 2px;

      &:hover {
        .details {
          @include fade-and-hide(show, 200ms);
        }
      }

      .details {
        @include fade-and-hide(hide, 200ms);
        position: absolute;
        z-index: 3;
        top: 20px;
        left: 0;
        width: 100%;
        height: auto;
        min-height: 20px;
        padding: 10px;
        background: $gray-5;
        color: $gray-1;

        h3 {
          padding: 0;
          margin: 0;
          background: none;
          color: $gray-1;
          font-weight: bold;
        }

        span {
          display: inline-block;
          width: 100%;
          margin-top: 10px;
          overflow-wrap: break-word;
        }
      }
    }
  }
}
